* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ededed;
}

body::before, body::after {
  content: '';
  display: block;
  height: 48px;
}

.container {
  border-radius: 2px;
  box-shadow: 0 8px 32px rgb(0 0 0 / 32%);
  background-color: white;
  margin: 0 auto;
  padding: 48px;
  min-height: calc(100% - 96px);
}
